.container_favorite {
    width: 100%;
    height: 100%;
    margin-top: 51px;
    .wrapper_card_more_recipe {
      display: flex;
      max-width: 1400px;
      margin: auto;
      gap: 51px;
      justify-content: center;
      flex-wrap: wrap;
    }
}
  