.mini_card_container {
    width: max-content;
    height: max-content;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3px;
    margin-top: 4rem;
    .card_wrapper {
      border-radius: 10px;
      background-color: #f0f7ff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .bg_img {
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        top: -35%;
        background: white;
        padding: 20px;
        box-shadow: 2.15814px 3.23721px 11.86977px 0px rgba(0, 0, 0, 0.14);
  
        .img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .food_name {
        margin-top: 6rem;
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 17px;
        flex-shrink: 0;
        padding: 0 10px;
        text-align: center;
        max-width: 100%;
      }
      .content_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;
        h1 {
          color: #000;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        button {
          width: 124px;
          height: 29px;
          flex-shrink: 0;
          color: #408eba;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          border: 1px solid #408eba;
          background: transparent;
          border-radius: 4px;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          cursor: pointer;
        }
      }
    }
}
  