.container_detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper_more_recipies {
    margin-top: 24px;
    padding-left: 8.5rem;
    .title_more_recipies {
      color: #404040;
      width: 149.991px;
      height: 38.847px;
      font-family: 'Archivo Narrow', sans-serif;
      font-size: 23.978px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .wrapper_card_more_rec {
      display: flex;
      gap: 41px;
      overflow-x: scroll;
    }
    .wrapper_card_more_rec {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
    .wrapper_card_more_rec::-webkit-scrollbar {
      display: none;
    }
  }
  